/*DOCTYPE*/

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: "Raleway – 700", "Roboto – 400, 500, 700", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    color: #434455;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*header*/

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-top: 25.5px;
}

.dark {
    color: #2E2F42;
}

.navigation {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.navigation:hover,
.navigation:focus {
    color: #404BBF;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.address {
    font-style: normal;
}

.mai_tel {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.mai_tel:hover,
.mai_tel:focus {
    color: #404BBF;
}

.header {
    background: #FFFFFF;
}

/*section 1*/

.section_one {
    background: #2e2f42;
    padding-top: 600px;
    padding-bottom: 1440px;
}

.nav-link {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;
    text-align: center;
}

.element {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
}

.element:hover,
.element:focus {
    background-color: #404BBF;
}

/*section 2*/

.beginning {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
}

.tecst {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    width: 264px;
    height: 72px;
}

/*section 3*/

.section_three {
    background: #f4f4fd;
    padding-top: 732px;
    padding-bottom: 1440px;
}

.beginning_foto {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.foto_title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.foto_tecst {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.foto {
    background-color: #FFFFFF;
}

/*section 4*/

/*footer*/

.footer {
    background: #2e2f42;
    padding-top: 312px;
    padding-bottom: 1440px;
}

.light {
    color: #F4F4FD;
}

.footer_tecst {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    width: 264px;
    height: 72px;
}


