/*DOCTYPE*/

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Raleway – 700", "Roboto – 400, 500, 700", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    color: #434455;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*header*/

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    padding: 24px 0 24px;
}

.dark {
    color: #2E2F42;
}

.nav {
    display: flex;
    align-items: center;
}

.nav_ul {
    display: flex;
    gap: 40px;
}

.navigation {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    padding: 24px 0 24px;
    gap: 40px;
}

.navigation:hover,
.navigation:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address_ul {
    display: flex;
    padding: 24px 0 24px;
    gap: 40px;
}

.mai_tel {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    gap: 40px;
}

header div {
    display: flex;
}

.mai_tel:hover,
.mai_tel:focus {
    color: #404BBF;
}

.header {
    background: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

/*section 1*/

.section_one {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.nav-link {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    height: 120px;
    margin-bottom: 48px;
    text-align: center;
}

.element {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    text-align: center;
}

.element:hover,
.element:focus {
    background-color: #404BBF;
}

/*section 2*/

.section_two {
    padding: 120px 0 120px;
}
 
.beginning {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title_ul {
    display: flex;
    gap: 24px;
}

.tecst_li {
    width: calc((100% - 3 * 24px) / 4);
}

.title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
}

.tecst {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    width: 264px;
    height: 72px;
}

/*section 3*/

.section_three {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.foto_div {
    padding: 32px 0;
}

.foto_ul {
    display: flex;
    gap: 24px;
}

.beginning_foto {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.foto_title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.foto_tecst {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.foto {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

/*section 4*/

.section_four {
    padding-top: 120px;
    padding-bottom: 120px;
}

.tecst_ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.title_li {
    width: calc((100% - 48px) / 3)
}

.div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/*footer*/

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo_footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.light {
    color: #F4F4FD;
}

.footer_tecst {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    width: 264px;
    height: 72px;
}


