/*DOCTYPE*/

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Raleway – 700", "Roboto – 400, 500, 700", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    color: #434455;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*header*/

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    padding: 24px 0 24px;
}

.dark {
    color: #2E2F42;
}

.nav {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation:after {
    content: '';
    position: absolute;        
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
    background-color: #404bbf;
}

.navigation:focus::after,
.navigation:hover::after {
    background-color: #404bbf;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_ul {
    display: flex;
    gap: 40px;
}

.navigation {
    position: relative;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    padding: 24px 0 24px;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
}

.navigation:hover,
.navigation:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
    font-style: normal;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address_ul {
    display: flex;
    padding: 24px 0 24px;
    gap: 40px;
}

.mai_tel {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header div {
    display: flex;
}

.mai_tel:hover,
.mai_tel:focus {
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
    background: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

/*section 1*/

.section_one {
    max-width: 1440px;
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.nav-link {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    height: 120px;
    margin-bottom: 48px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.element {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element:hover,
.element:focus {
    background-color: #404BBF;
}

/*section 2*/

.benefits_wrapper_s_two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.section_two {
    padding: 120px 0 120px;
}
 
.beginning {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title_ul {
    display: flex;
    gap: 24px;
}

.tecst_li {
    width: calc((100% - 3 * 24px) / 4);
}

.title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 8px;
}

.tecst {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    width: 264px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*section 3*/

.section_three {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.foto_div {
    padding: 32px 0;
}

.foto_ul {
    display: flex;
    gap: 24px;
}

.beginning_foto {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.foto_title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.foto_tecst {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.foto {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ellipso_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.ellipso_li {
    width: 40px;
    height: 40px;
}

.svg_foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_svg {
    fill: #f4f4fd;
}

.svg_foto:focus,
.svg_foto:hover {
    background-color: #404bbf;;
}

/*section 4*/

.div_two {
    position: relative;
    overflow: hidden;
}

.overlay {
    padding: 40px 32px 164px 32px;
    background-color: #4D5AE5;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title_li:focus .overlay,
.title_li:hover .overlay {
    transform: translateY(0);
}

.section_four {
    padding-top: 120px;
    padding-bottom: 120px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tecst_ul {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.title_li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/*footer*/

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.logo_footer {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.light {
    color: #F4F4FD;
}

.footer_tecst {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer_div_two .footer_tecst {
    margin-bottom: 16px;
}

.footer_div {
    margin-right: 120px;
}

.footer_div_two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    fill: #f4f4fd;
}

.footer_ellipso_ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer_ellipso_li {
    width: 40px;
    height: 40px;
}

.svg_footer {
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_icon_svg {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}

.svg_footer:focus,
.svg_footer:hover {
    background-color: #31d0aa;;
}


